

@font-face {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

.html {
	height: 100%;
}

body {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	background: #f2f2f2;

}

.page-container {
	margin: 0 auto;
	width: 1200px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);

}

.page-container-column {
	margin: 0 auto;
	width: 1060px;
}

main {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*Header*/
.page-header {
  font-family: "PT Sans", sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 0;
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 184px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

}

.navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0 18px;
	margin-right: 32px;
  font-family: inherit;
  font-size: 20px;
	font-weight: 700;
	line-height: 24px;
  text-align: center;
	text-decoration: none;
	list-style: none;
	color: #000000;
	border-bottom: 2px solid transparent;
}

.navigation-link:active,
.navigation-link:hover {
	border-bottom: 2px solid #756257;
}

.navigation-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width: 268px;
	list-style-type: none;
	text-decoration: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;

}

.user-item {
	padding: 22px 12px 17px;
}

.user-link {
	height: 100%;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.navigation-icon:hover,
.navigation-icon:focus {
	fill: #756157;
}

.navigation-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 22px;
	padding: 8px 34px;
	text-transform: uppercase;
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;

}

/*Hero*/
.hero-welcome {
	display: block;
	margin: 0 auto;
	padding-top: 51px;
}

.hero {
	width: 1200px;
	height: 485px;
	background-color: #45759b;
	background-image: url("../images/bg-index-bottom.svg"), url("../images/bg-index-background.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center;

}

.reasons {
	min-height: 282px;
	margin-bottom: 0;
	text-align: center;
}

.reasons-title {
	margin: 0;
	padding-top: 71px;
  font-family:inherit;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.reasons-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
  margin-top: 24px;
  padding:0;
}


/*Advantage*/
.advantage-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (400px)[3];
	grid-template-columns: repeat(3, 400px);
	-ms-grid-rows: (-webkit-min-content)[4];
	-ms-grid-rows: (min-content)[4];
	grid-template-rows: repeat(4, -webkit-min-content);
	grid-template-rows: repeat(4, min-content);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.advantage-grid > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.advantage-grid > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.advantage-grid > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.advantage-grid > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.advantage-grid > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.advantage-grid > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}
.advantage-grid > *:nth-child(7) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.advantage-grid > *:nth-child(8) {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
}
.advantage-grid > *:nth-child(9) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.advantage-grid > *:nth-child(10) {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
}
.advantage-grid > *:nth-child(11) {
	-ms-grid-row: 4;
	-ms-grid-column: 2;
}
.advantage-grid > *:nth-child(12) {
	-ms-grid-row: 4;
	-ms-grid-column: 3;
}

.advantage-image-first {
	grid-column: 2/-1;
	display: block;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

.advantage-image-second {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
	display: block;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

.advantage-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	min-height: 384px;

}

.advantage-item:nth-child(3n) {
	background-color: rgba(131, 179, 211, 0.12);

}

.advantage-item:nth-child(2n) {
	background-color: rgba(131, 179, 211, 0.2);

}

.advantage-item:nth-child(1),
.advantage-item:nth-child(7n) {
	background-color: #82B3D3;

}

.advantage-title-black {
	margin: 105px 85px 0;
}

.advantage-title-black,
.advantage-title-icon {
  font-family: inherit;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.advantage-title-white {
	margin: 93px 85px 0;
  font-family: inherit;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
}

.advantage-title-icon {
	margin-top: 184px;
}

.advantages-description {
	margin: 62px 85px;
  font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.advantages-description-white {
	margin: 62px 85px;
  font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;

}

.advantages-description-icon {
	margin: 8px 85px;
  font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	text-align: center;
}


.house::before {
	content: "";
	position: absolute;
	top: 80px;
	width: 75px;
	height: 75px;
	background: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.food::before {
	content: "";
	position: absolute;
	top: 80px;
	width: 75px;
	height: 75px;
	background: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.present::before {
	content: "";
	position: absolute;
	top: 80px;
	width: 75px;
	height: 75px;
	background-image: url("../images/icons/present.svg");
	background-repeat: no-repeat;
	background-position: center;

}

.line-grey::before {
	content: "";
	position: absolute;
	top: 189px;
	width: 60px;
	height: 2px;
	background-image: url("../images/icons/band.svg");
	background-repeat: no-repeat;
	background-position: center;

}

.line-white::before {
	content: "";
	position: absolute;
	top: 178px;
	width: 60px;
	height: 2px;
	background-image: url("../images/icons/band-white.svg");
	background-repeat: no-repeat;
	background-position: center;
}


/*Order-form*/

.order-form {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 406px;
	text-align: center;
	background-color: #ffffff;
}

.order-form-title {
	margin: 0;
	padding-top: 96px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.order-form-discription {
	margin: 0;
	padding-top: 20px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin-bottom: 62px;
}

.button-sub {
	width: 276px;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	padding: 14px 50px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 0 4px 4px 0;

}

/*Email-form*/
.email-form-main {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 415px;
	text-decoration: none;
  background-color:#4b6973;
	background-image:url("../images/bg-email-form.jpeg");
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.email-form-catalog {
	background-image: none;
	min-height: 415px;
	background-color: #ffffff;
	color: #333333;
}

.email-title {
	margin: 0;
	padding-top: 98px;
  font-family: inherit;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #ffffff;
}


.email-discription {
	margin: 0;
	padding-top: 19px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 54px;
	color: #fff;
}

.email-title-catalog {
	color: #000000;
}

.email-discription-catalog {
	color: #333333;
}

.email-form-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

}

.email-input {
	width: 430px;
	height: 50px;
  font-family: "PT Sans", sans-serif;
	padding-left: 20px;
	font-size: 18px;
	line-height: 24px;
	border: 1px;
	border-radius: 4px 0 0 4px;
}

.email-input-catalog {
	background-color: #f2f2f2;
}

.button-email {
  margin:0;
	padding: 8px 50px 8px 50px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #82b3d3;
	color: #ffffff;
	border: 1px;
	border-radius: 0 4px 4px 0;
}

/*Footer*/
.footer {
	margin-top: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 120px;
	background-color: #ffffff;
}


.social-container {
	width: 142px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.social-button {
  margin:0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 47px;
	height: 40px;
}

.social-icon:active {
	fill: rgba(104, 162, 202, 0.3);
}

.social-icon:hover,
.social-icon:focus  {
	fill: #68a2ca;
}


a[href^="tel:"] {
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	color: #000;
	text-decoration: none;
}

a[href^="tel:"]:hover,
a[href^="tel:"]:focus {
	color: #756157;
}

a[href^="tel:"]:active {
	color: #756157;
	opacity: 0.3;
}

.button-html-svg:hover,
.button-html-svg:focus {
	fill: #756157;
}

.button-html-svg:active {
	fill: rgba(117, 97, 87, 0.3);
}

/*Catalog-form*/
.catalog-filter {
	width: 150px;
	border: none;
	padding: 0;
	margin: 0;
}

.filter-form-main {
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 412px;
	background: #375a77 url("../images/bg-catalog.jpeg") no-repeat;
	background-position: top center;
	background-size: cover;
	color: #ffffff;
	text-align: left;
}


.inner-title {
	margin: 0;
	font-family: "PT Sans", sans-serif;
	padding-top: 40px;
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
}

/* Range-bar*/

.filter-price {
	width: 288px;
	border: none;
	margin: 0;
	padding: 0;
}


.range-wrapper-inputs {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 2px;
	width: 288px;
	height: 48px;
  box-sizing: border-box;
}

.range-label {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.range-input {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 121px;
	height: 46px;
	border: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	padding-left: 20px;
	background-color: #f2f2f2;

}

.filter-price input:active {
	outline: 2px solid #000000;
}

.filter-price input:focus {
	outline: #83b3d3 solid 3px;
}


.min-label {
	position: absolute;
	top: 12px;
	left: 106px;
	color: #000000;
  z-index:2;

}

.max-label {
	position: absolute;
	top: 12px;
	left: 248px;
	color: #000000;
  z-index:2;

}

.min-input {
	border-radius: 4px 0 0 4px;
}

.max-input {
	border-radius: 0 4px 4px 0;
}

.min-input::-webkit-outer-spin-button,
.min-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	        appearance: none;
	margin: 0;
}

.max-input::-webkit-outer-spin-button,
.max-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	        appearance: none;
	margin: 0;
}


.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background: #ffffff;
}

.toggle-min {
	top: -8px;
}

.toggle-max {
	top: -8px;
	left: 207px;
}

.range-bar {
	position: absolute;
	height: 4px;
	background: rgba(255, 255, 255, 1);
}

.range-slider {
	margin-top: 44px;
	position: relative;
	width: 287px;
	height: 4px;
	background: rgba(255, 255, 255, 0.3);
}

/*Checkbox-and-radio*/

.control {
	position: relative;
	display: block;
	padding-left: 37px;
}

.control-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #ffffff;
}

.control:hover .control-mark,
.control-label:hover {
	opacity: 0.7;
}

.control:focus .control-mark,
.control:active .control-mark {
	outline: #83b3d3 solid 3px;
}

.control-input:disabled+.control-mark,
.control-label:disabled {
	opacity: 0.3;
}


.control-input[type="checkbox"]:checked+.control-mark::after {
	position: absolute;
	top: 6px;
	left: 4px;
	width: 12px;
	height: 9px;
	content: "";
	background-image: url("../images/icons/cheked.svg");
	background-repeat: no-repeat;
	background-position: center;

}


.control-input[type="radio"]+.control-mark {
	border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background-color: #3f5e72;
	border-radius: 50%;
	content: "";
}


.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	font-size: 16px;
	line-height: 21px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.breadcrumbs-item {
	margin-top: 4px;
	color: #ffffff;
	margin-right: 10px;

}

.breadcrumbs-link,
.breadcrumbs-link:focus {
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbs-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
	color: rgba(255, 255, 255, 0.6);
}


.catalog-filter-form {
	margin-top: 40px;
	padding: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 221px 290px 357px 191px;
	grid-template-columns: 221px 290px 357px 191px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;

}

.filter-type {
	width: 150px;
}

.filter-button-container-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 191px;
	grid-template-columns: 191px;
	-ms-grid-rows: 56px -webkit-min-content 64px;
	-ms-grid-rows: 56px min-content 64px;
	grid-template-rows: 56px -webkit-min-content 64px;
	grid-template-rows: 56px min-content 64px;
}

.filter-button-container-grid > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.filter-button-container-grid > *:nth-child(2) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.filter-button-container-grid > *:nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.button-sort {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	border-radius: 4px;
}

.button-cleaner {
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
	align-self: flex-end;
	padding: 5px 50px;
  margin:0;

}

.catalog-filter-title {
	font-weight: 700;
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;
	padding: 0;
	margin-bottom: 31px;

}

.catalog-filter-list {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	font-style: normal;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.catalog-filter-item {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	cursor: pointer;
}

.catalog-filter-item:not(:last-child) {
	margin-bottom: 16px;
}

.catalog-filter-title {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1/2;
}

.filter-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.cost-controls {
	display: inline;

}

.button-sort {
	background-color: #82b3d3;
	padding: 8px 50px;
  margin:0;
}


/*Sorting-container*/

.sorting-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 49px;
	margin: 50px 0 40px;
}

.sorting-result-title {
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.select-control {
	margin-left: 126px;
	width: 292px;
	height: 49px;
	padding: 13px 0 13px 20px;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	background: #ffffff;
	background-image: url("../images/icons/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 18px center;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.select-control:active {
	outline: #3f5e72 solid 2px;
}

.select-control:hover,
.select-control:focus {
	outline: #68a2ca solid 2px;
}

.select-control:disabled {
	opacity: 0.3;
}


.card-sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 8px;
}

.card-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 48px;
	height: 48px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
  cursor: pointer;
}

.sort-tile {
	background: url("../images/icons/sort-tile.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.sort-list {
	background: url("../images/icons/sort-list.svg");
	background-repeat: no-repeat;
	background-position: center;

}

.sort-tile-list {
	background: url("../images/icons/sort-list-tile.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.card-show:hover,
.card-show:active {
	outline: #000 solid 2px;
}

.card-show:focus,
.card-show:focus-visible {
	outline: #68a2ca solid 2px;
}


/*Catalog-products*/

.product-list {
	margin: 0;
	padding: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 340px 20px 340px 20px 340px;
	grid-template-columns: repeat(3, 340px);
	gap: 16px 20px;
	padding-bottom: 40px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	border-bottom: 1px solid #e6e6e6;
	list-style-type: none;
}

.product-card {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 140px 20px 140px;
	grid-template-columns: repeat(2, 140px);
	-ms-grid-rows: 213px 16px -webkit-min-content 16px -webkit-min-content 16px 35px 16px 38px;
	-ms-grid-rows: 213px 16px min-content 16px min-content 16px 35px 16px 38px;
	grid-template-rows: 213px repeat(2, -webkit-min-content) 35px 38px;
	grid-template-rows: 213px repeat(2, min-content) 35px 38px;
	border-radius: 4px;
	padding: 20px;
	gap: 16px 20px;
	border: 1px solid #e6e6e6;

}

.product-card > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;

}

.product-card > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;

}

.product-card > *:nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;

}

.product-card > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;

}

.product-card > *:nth-child(5) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;

}

.product-card > *:nth-child(6) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;

}

.product-card > *:nth-child(7) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;

}

.product-card > *:nth-child(8) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;

}

.product-card > *:nth-child(9) {
	-ms-grid-row: 9;
	-ms-grid-column: 1;

}

.product-card > *:nth-child(10) {
	-ms-grid-row: 9;
	-ms-grid-column: 3;

}

.product-card-image {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1/4;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1/2;
	-o-object-fit: contain;
	   object-fit: contain;
}

.product-card-title {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1/4;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	color: #000;
	font-weight: 700;
	list-style-type: none;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
  box-sizing: content-box;
}

.product-card-item {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333;

}

.product-card-price {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: end;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333;
	text-align: right;

}

.button-favorite {
	margin: 0;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4/5;
	padding: 8px 19px;
	border-radius: 4px;

}

.button-more {
	margin: 0;

	-ms-grid-column: 1;

	-ms-grid-column-span: 1;

	grid-column: 1/2;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4/5;
	padding: 8px 26px;

}

.stars {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 5;
	-ms-grid-row-span: 1;
	grid-row: 5/6;
	margin-top: 10px;

}

.hotel-rating {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	-ms-grid-row: 5;
	-ms-grid-row-span: 1;
	grid-row: 5/6;
	padding: 8px 22px;
	background-color: #f2f2f2;
	border-radius: 4px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
}

.stars.four {
	display: block;
	width: 88px;
	height: 17px;
	background: url("../images/icons/star.svg");
  background-repeat:space;
}

.stars.three {
	display: block;
	width: 66px;
	height: 17px;
	background: url("../images/icons/star.svg");
  background-repeat:space;
}

.stars.two {
	display: block;
	width: 43px;
	height: 17px;
	background: url("../images/icons/star.svg");
  background-repeat:space;

}

.stars.one {
	display: block;
	width: 21px;
	height: 17px;
	background: url("../images/icons/star.svg");
  background-repeat:space;
}

.product-card:nth-child(3n) {
	margin-right: 0;
}


.product-card h2 {
	margin-left: 20px;
}

.product-card-stars {
	background-image: url("../images/icons/star.svg") top center no-repeat;
}


/*Pagination-container*/

.pagination-container {
	margin-top: 37px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
	list-style-type: none;

}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination-link {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 60px;
	height: 60px;
	font-weight: 700px;
	font-size: 20px;
	line-height: 36px;
	padding: 12px 18.5px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
	border-radius: 4px;
	margin-right: 8px;

}


.pagination-link:hover,
.pagination-link:focus {
	background-color: #68a2ca;
  outline: #82B3D3 solid 1px;
}

.pagination-link:active {
	opacity: 0.3;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus {
	background-color: #f2f2f2;
	color: #000000;
  outline: none;
}


/*Button and activites*/


.button-brown {
	vertical-align: middle;
	border-radius: 4px;
	background-color: #756157;
}

.button-brown:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 255, 0.3);
}

.button-brown:hover,
.button-brown:focus {
	background-color: #615048;
}

.button-brown:disabled {
	background-color: #e5e5e5;
}

.button-blue {
	vertical-align: middle;
	background-color: #82b3d3;
}

.button-blue:active {
	background-color: #82b3d3;
	color: rgba(255, 255, 255, 255, 0.3);
}

.button-blue:hover,
.button-blue:focus {
	background-color: #68a2ca;
}


.button-blue:disabled {
	background-color: #e5e5e5;
}

.button-green {
	vertical-align: middle;
	border-radius: 4px;
	background-color: #7DB54F;
}

.button-green:active {
	background-color: #7DB54F;
	color: rgba(255, 255, 255, 255, 0.3)
}

.button-green:hover,
.button-green:focus {
	background-color: #6c9e42;
}

.button-green:disabled {
	background-color: #e5e5e5;
}


.button-transperent {
	vertical-align: middle;
	color: #fff;
	border-radius: 4px;
	background: transparent;
}

.button-transperent:active {
	color: rgba(255, 255, 255, 255, 0.3);
}

.button-transperent:hover {
	color: rgba(255, 255, 255, 255, 0.6);
}

.button-transperent:focus,
.button-transperent:focus-visible {
	outline: 2px solid #83b3d3;
}

.button-transperent:disabled {
	color: rgba(255, 255, 255, 255, 0.1);
}

button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	cursor: pointer;
	font-family: "PT Sans";
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	white-space: nowrap;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;

}

button:focus {
	outline: #83b3d3 solid 2px;
}

/*Modal-container*/

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(242, 242, 242, 0.8);
	z-index: 100;

}

.fast-order {
	position: relative;
	margin: auto;
	width: 717px;
	min-height: 576px;
	z-index: 1;
	background: #ffffff;
	border-radius: 30px;
	pointer-events: auto;
	overflow-y: auto;
}

.fast-order-form {
	margin: 64px 70px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 137px 111px 87px 131px 113px;
	grid-template-columns: 137px 111px 87px 131px 113px;
	-ms-grid-rows: min-content (-webkit-min-content)[4] 96px 60px;
	-ms-grid-rows: min-content (min-content)[4] 96px 60px;
	grid-template-rows: min-content repeat(4, -webkit-min-content) 96px 60px;
	grid-template-rows: min-content repeat(4, min-content) 96px 60px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

}

.fast-order-form > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;

}

.fast-order-form > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(7) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(8) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(9) {
	-ms-grid-row: 2;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(10) {
	-ms-grid-row: 2;
	-ms-grid-column: 5;

}

.fast-order-form > *:nth-child(11) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(12) {
	-ms-grid-row: 3;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(13) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(14) {
	-ms-grid-row: 3;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(15) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;

}

.fast-order-form > *:nth-child(16) {
	-ms-grid-row: 4;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(17) {
	-ms-grid-row: 4;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(18) {
	-ms-grid-row: 4;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(19) {
	-ms-grid-row: 4;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(20) {
	-ms-grid-row: 4;
	-ms-grid-column: 5;

}

.fast-order-form > *:nth-child(21) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(22) {
	-ms-grid-row: 5;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(23) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(24) {
	-ms-grid-row: 5;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(25) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;

}

.fast-order-form > *:nth-child(26) {
	-ms-grid-row: 6;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(27) {
	-ms-grid-row: 6;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(28) {
	-ms-grid-row: 6;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(29) {
	-ms-grid-row: 6;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(30) {
	-ms-grid-row: 6;
	-ms-grid-column: 5;

}

.fast-order-form > *:nth-child(31) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;

}

.fast-order-form > *:nth-child(32) {
	-ms-grid-row: 7;
	-ms-grid-column: 2;

}

.fast-order-form > *:nth-child(33) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;

}

.fast-order-form > *:nth-child(34) {
	-ms-grid-row: 7;
	-ms-grid-column: 4;

}

.fast-order-form > *:nth-child(35) {
	-ms-grid-row: 7;
	-ms-grid-column: 5;

}

.fast-order-title {
	grid-column: 1/-1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1/2;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 64px;
	padding: 0;
}

.fast-order-of {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	-ms-grid-row-align: center;
	    align-self: center;
}

.fast-order-for {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4/5;
	-ms-grid-row-align: center;
	    align-self: center;
}

.fast-order-older {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 6;
	-ms-grid-row-span: 1;
	grid-row: 6/7;
	padding-top: 12px;

}

.fast-order-children {
	-ms-grid-column: 4;
	-ms-grid-column-span: 1;
	grid-column: 4/5;
	-ms-grid-row: 6;
	-ms-grid-row-span: 1;
	grid-row: 6/7;
	position: relative;
	padding-top: 12px;

}

.fast-order-of-date {
	grid-column: 2/-1;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 49px;
	position: relative;

}

.fast-order-for-date {
	grid-column: 2/-1;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4/5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;

}

.calendar {
	background-image: url("../images/icons/calendar.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 16px;
	left: 402px;
	opacity: 0.3;
}

.calendar:hover,
.calendar:focus {
	opacity: 1.0;
}

.fast-order-for-date input,
.fast-order-of-date input {
	width: 440px;
	font: inherit;
	font-size: 18px;
	padding-left: 20px;
}

.fast-order-older-guantity input,
.fast-order-children-quantity input {
	width: 110px;
	font: inherit;
	font-size: 18px;
	text-align: center;

}

.fast-order-older-guantity {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	-ms-grid-row: 6;
	-ms-grid-row-span: 1;
	grid-row: 6/7;
	position: relative;
}


.minus {
	background-image: url("../images/icons/minus.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	left: 10px;
	opacity: 0.3;
}

.plus {
	background-image: url("../images/icons/plus.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 10px;
	opacity: 0.3;
}

.plus:hover,
.minus:hover {
	opacity: 1.0;
}

.plus:focus,
.minus:focus {
	opacity: 1.0;
	border-radius: 4px;
}

.fast-order-children-quantity {
	-ms-grid-column: 5;
	-ms-grid-column-span: 1;
	grid-column: 5/6;
	-ms-grid-row: 6;
	-ms-grid-row-span: 1;
	grid-row: 6/7;
	position: relative;
}


.fast-order-search {
	grid-column: 1/-1;
	-ms-grid-row: 7;
	-ms-grid-row-span: 1;
	grid-row: 7/8;
	padding: 18px 77px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.fast-order-close {
	position: absolute;
	top: 64px;
	right: 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #f2f2f2;
	background-image: url("../images/icons/close.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

}

.fast-order-close:active {
	background-color: #f2f2f2;

}

.fast-order-close:hover {
	background-color: #e6e6e6;
	opacity: 0.3;
	filter: alpha(opacity=30);

}

.fast-order-close:focus {
	background-color: #e6e6e6;
	outline: #83B3D3 solid 2px;
	opacity: 1.0;
}

.date-wrong {
	grid-column: 2/-1;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	padding: 2px 0 23px 20px;
  margin:0;
	color: #ff5757;
}

.date-right {
	grid-column: 2/-1;
	-ms-grid-row: 5;
	-ms-grid-row-span: 1;
	grid-row: 5/6;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	padding: 2px 0 23px 20px;
  margin:0;
	color: #333333;

}

.fast-order-form:active {
	outline: 2px solid #000000;

}

.fast-order-form input:focus {
	outline: #83b3d3 solid 3px;
}


.tooltip-button {
	background: transparent;
}

.tooltip-button:hover {
	opacity: 0.7;
}

.tooltip-children-info {
	width: 256px;
	height: 143px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background: #333333;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	position: absolute;
	top: 100%;
	margin-top: 16px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 1;
	display: none;
}

.tooltip-children-info:after {
	content: '';
	background-image: url("../images/icons/tooltip-arrow.svg");
	width: 14px;
	height: 6px;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}

.tooltip-button:hover+.tooltip-children-info,
.tooltip-button:focus+.tooltip-children-info {
	display: block;
}

.form-label-icon {
	position: relative;
	padding-right: 16px;
}


.tooltip-children-info p {
	padding: 5px 23px 22px;
	text-align: left;
}

.fast-order-form input {
	height: 48px;
	border-radius: 4px;
	border: none;
	background-color: #f2f2f2;
}

.tooltip-children {
  position: absolute;
	top: 11px;
	left: 52px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 29px;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	cursor: pointer;
}

.older-guantity-input::-webkit-outer-spin-button,
.older-guantity-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	        appearance: none;
	margin: 0;
}

.children-quantity-input::-webkit-outer-spin-button,
.children-quantity-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	        appearance: none;
	margin: 0;
}

/* Hidde-modal */
.modal-container-close {
	display: none;
}

/*Counter-favorite*/
.heart {
	position: relative;
}

.counter-favorite {
	position: absolute;
	left: 21px;
	top: 10px;
	display: block;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	color: #ffffff;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #7db54f;
}

.counter-favorite-check {
	position: absolute;
	top: 30%;
	left: 25%;

}
