@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}


.html {
	height: 100%;
}

.page-container {
	margin: 0 auto;
	width: 1200px;
	border: 2px solid green;
}

body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 21px;
	width: 1200px;
	color: #333;
	background-color: #f2f2f2;
}

main {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
}

h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-header {
	width: 100%;
	height: 64px;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	display: flex;
	min-height: 60px;
	background-color: white;
	align-items: center;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 0;
}

.navigation {
	display: flex;
	width: 1060px;
	height: 64px;
	justify-content: space-between;
	margin: 0 auto;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: center;
	padding-left: 44px;

}

.navigation-link {
	display: block;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	margin-left: 32px;
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;
}

.navigation-list li a {
	color: #000;
}

.navigation-link a {
	text-decoration: none;

}

.navigation-user {
	display: flex;
	max-width: 300px;
	margin: 0 70px 0 0;
	list-style-type: none;
	align-items: center;
	margin-right: 0;
}

.navigation-button {
	font-size: 16px;
	line-height: 20px;
	display: block;
	text-align: center;
	min-width: 130px;
	padding: 9px 15px 8px 15px;
	border-radius: 4px;
	background: #756157;
}

.navigation-button a {
	text-decoration: none;
	color: #fff;
}

.button {
	font-size: 16px;
	line-height: 20px;
	display: block;
	min-width: 130px;
	padding: 9px 15px 8px 15px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-radius: 4px;
	background: #756157;
	align-items: center;
}

.button-sub {
	font-size: 20px;
	font-weight: 700;
	width: 544px;
	margin: 0 313px 93px 313px;
	padding: 8px 50px;
	text-decoration: none;
	color: #fff;
	border: 0;
	border-radius: 4px;
	background: #756157;
}

.hero {
	width: 1200px;
	height: 485px;
	background-color: #333;
	background-image: url("/images/bg-index-bottom.svg"), url("/images/bg-index-background.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center;
	margin-bottom: 0;
}

.hero-welcome {
	display: block;
	margin: 0 auto;
	padding-top: 51px;

}

.reasons {
	height: 282px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
}

.reasons-title {
	margin: 0;
	padding-top: 69px;
	text-transform: uppercase;
}

.container-card {
	width: 230px;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 2px solid red;
}

.general-town {
	display: flex;
	justify-content: space-between;
	min-height: 384px;
	margin-top: 0;
	list-style-type: none;
	text-align: center;
	color: white;
	background: #82b3d3;
	align-items: start;
}

.general-town h2 {
	margin-top: 92px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.description {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	height: 384px;
}

.description-item {
	width: 33.3%;
	height: 384px;
	border-color: transparent;
}

.description-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.description h2 {
	padding-top: 103px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.advantages {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	flex-direction: column;
	text-align: center;
	height: 384px;
}

.advantages-item {
	width: 33.3%;
	height: 384px;
	border: 0;
}

.advantages-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.advantages h2 {
	padding-top: 103px;
	text-transform: uppercase;
	text-align: center;
}


.general-mount {
	display: flex;
	justify-content: space-between;
	min-height: 384px;
	margin-top: 0;
	list-style-type: none;
	text-align: center;
	color: white;
	background: #82b3d3;
	align-items: start;
}

.general-mount h2 {
	margin-top: 92px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 30px;
}

.order-form {
	min-height: 406px;
	text-align: center;
	vertical-align: middle;
}

.order-form h2 {
	padding-top: 96px;
	text-transform: uppercase;
	line-height: 36px;
}

.order-form h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.email-form-main {
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

.email-form h2 {
	padding-top: 96px;
}

.telephone {
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	color: #000;
	text-decoration: none;
}

.button-html {
	padding-right: 70px;
}

.social-button {
	display: flex;
	padding-left: 82px;
}

.social-button li {
	padding-left: 27px;
}

.social-button li:first-child {
	padding-left: 0;
}

.catalog-filter {
	background-image: url("/images/bg-catalog.jpeg") top center no-repeat;
	background-size: cover;
}

.footer {
	margin: 0;
}

.email-form-main {
	width: 1200px;
	height: 415px;
	text-decoration: none;
	background: #fff url("/images/bg-email-form.jpeg") no-repeat;
	background-position: center;
	background-size: cover;
}

.email-form-main h2 {
	padding-top: 96px;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.email-form-catalog {
	background-image: none;
	background-color: #fff;
	color: #333;
}

.email-form-catalog h2 {
	color: #000;
}

form {
	display: flex;
	justify-content: center;
	height: 52px;
	vertical-align: middle;
}

.field {
	width: 352px;
	height: 46px;
	padding-left: 20px;
	font-size: 18px;
}

.button-email {
	width: 232px;
	padding: 8px 50px 8px 50px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #82B3D3;
	color: #fff;
}

.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	background-color: #fff;
}


/* Каталог*/

.filter-form {
	width: 1200px;
	height: 412px;
	background: #fff url("/images/bg-catalog.jpeg") no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.filter-form-container {
	width: 1060px;
	margin: 35px auto;
}

.min-navigation {
	font-size: 16px;
	line-height: 21px;
}

.min-navigation li,
.min-navigation a {
	display: inline;
	text-decoration: none;
	color: #fff;
}

button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;
	color: #fff;
	text-transform: uppercase;
	appearance: none;
	border: 0;
	border-radius: 4px;
}

.button-sort {
	background-color: #82B3D3;
	padding: 8px 50px;
}

.button-cleaner {
	background: transparent;
}

.button-more {
	padding: 8px 26px;
}

.button-favorite {
	padding: 8px 20px;
}

.button-favorited {
	padding: 8px 18px;
}

.filter-search {
	display: inline-block;
}

.product-card-rating {
	padding: 8px 22px;
	background-color: #F2F2F2;
	border-radius: 4px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
}

.catalog-filter {
	height: 160px;
	text-align: left;
	border: 2px solid blue;
}

.product-list {
	display: flex;
	width: 1060px;
	margin-top: 50px;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 70px;

}

.product-card {
	width: 340px;
	height: 438px;
	border-radius: 4px;
	border: 1px solid #E6E6E6;
	margin-right: 15px;
	margin-bottom: 15px;
}

.product-card:nth-child(3n) {
	margin-right: 0;
}

.product-card img {
	margin: 20px 20px 16px;
}

.product-card h2 {
	margin-left: 20px;
}

.product-card-stars {
	background-image: url("/images/icons/star.svg") top center no-repeat;
}

.pagination-item {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 4px;
	margin-right: 8px;
}

.pagination-item:last-child {
	margin-right: 0;
}

.pagination-link {
	background-color: #82B3D3;
}

.pagination-current {
	background-color: #F2F2F2;
}


/* Активность и комбинации*/
.general-townn,
.general-mount {
	background-color: #82b3d3;
}


.description li:nth-child(odd),
.advantages li:nth-child(even) {
	background-color: rgba(131, 179, 211, .12);
	/* нечетное */
}

.description-item:nth-child(even),
.advantages-item:nth-child(odd) {
	background-color: rgba(131, 179, 211, .2);
	/* четное */
}


.advantages-house {
	background: url("/images/icons/house.svg") top center no-repeat;

}

.advantages-food {
	background: url("/images/icons/food.svg") top center no-repeat;
}

.advantages-present {
	background: url("/images/icons/present.svg") top center no-repeat;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.heart {
	margin-right: 33px;
}

.button-brown {
	background-color: #756157;
}

.button-brown:hover {
	background-color: #615048;
}

.button-brown:focus {
	background-color: #615048;
}

.button-brown:active {
	background-color: #756157;
}

.button-blue {
	background-color: #82B3D3;
}

.button-blue:hover {
	background-color: #68a2ca;
}

.button-blue:focus {
	background-color: #68a2ca;
}

.button-blue:active {
	background-color: #82b3d3;
}

.button-green {
	background-color: #7DB54F;
}

.button-green:hover {
	background-color: #6c9e42;
}

.button-green:focus {
	background-color: #6c9e42;
}

.button-green:active {
	background-color: #7db54f;
}
