@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

.html {
	height: 100%;
}

body {
	margin: 0 auto;
	display: flex;
	height: 100%;
	flex-direction: column;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	background: #f2f2f2;

}
a {
	text-decoration: none;
}
.page-container {
	margin: 0 auto;
	max-width: 1200px;
	background-color: #fff;
	box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);

}

.page-container-column {
	margin:0 auto;
  width: 1060px;



}

main {
	margin: 0;
	padding: 0;
}
h1 {
  margin:0;
}

h2 {
  margin:0;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

h3 {
  margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*  Кнопки */
.button-brown {
  border-radius: 4px;
  color:#fff;
	background-color: #756157;
}

.button-brown:hover {
	background-color: #615048;
}

.button-brown:focus {
	background-color: #615048;
}

.button-brown:active {
	background-color: #756157;
}

.button-blue {
	background-color: #82B3D3;
}

.button-blue:hover {
	background-color: #68a2ca;
}

.button-blue:focus {
	background-color: #68a2ca;
}

.button-blue:active {
	background-color: #82b3d3;
}

.button-green {
  border-radius: 4px;
	background-color: #7DB54F;
}

.button-green:hover {
	background-color: #6c9e42;
}

.button-green:focus {
	background-color: #6c9e42;
}

.button-green:active {
	background-color: #7db54f;
}


.page-header {
	width: 100%;
	height: 64px;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	display: flex;
	background-color: white;
	align-items: center;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 0;
}

.navigation {

  height: 64px;
	display: flex;
	justify-content: space-between;
  margin-left: 168px;

}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: center;


}

.navigation-link {
	display: block;
	padding: 20px 16px;
	text-align: center;
	list-style-type: none;
}


.navigation-list li a {
	color: #000;
	display: block;
	text-align: center;
	padding-bottom: 18px;
	border-bottom: 2px solid transparent;
}

.navigation-list li a:hover,
.navigation-list li a.active {
	position: relative;
	z-index: 2;
	border-bottom: 2px solid #756257;
}

.navigation-user {
	display: flex;
	width: 268px;
	padding: 20px 0;
	list-style-type: none;
	align-items: center;
	margin-right: 0;
}
.user-link {
  padding: 20px 13px;
}
.navigation-user .navigation-button {
  margin-left: 20px;}

.navigation-button  {
  width: 160px;
  text-transform: uppercase;
  list-style: none;
  padding: 8px 34px;
  font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;

}
.navigation-button a {
  white-space: nowrap;
  color: #fff;
}




.button-sub {
  margin-top:54px;
  width:376px;
  height:52px;
	font-size: 20px;
	font-weight: 700;
	padding: 8px 50px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;

}

.hero-welcome {
	display: block;
	margin: 0 auto;
	padding-top: 51px;
}

.hero {
	width: 1200px;
	height: 485px;
	background-color: #333;
	background-image: url("/images/bg-index-bottom.svg"), url("/images/bg-index-background.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center;

}

.reasons {
	height: 282px;
	margin-bottom: 0;
	text-align: center;

}

.reasons-title {
	margin: 0;
	padding-top: 69px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.reasons-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #333;
}

.general {
	display: flex;
	justify-content: space-between;
	height: 384px;
	color: white;
	text-align: center;
	background: #82b3d3;
	align-items: start;
}

.general h2 {
  margin-top:92px;
	color: #fff;
}

.general h3 {
	text-align: center;
	color: #fff;
}



.description-item {
	width: 33.3%;
	height: 384px;
	text-align: center;
	padding: 0 85px 0;
	box-sizing: border-box;

}

.description-list {
	display: flex;
	justify-content: space-between;

}

.description-list h2 {
  margin-top: 103px;
	color:#000;
}
.description-list h3 {
	color:#333;
}


.order-form {
	height: 406px;
	text-align: center;

}

.order-form h2 {
	padding-top: 96px;
  padding-bottom: 20px;
	text-transform: uppercase;
  font-weight:700;
  font-size:30px;
	line-height: 36px;
}

.order-form h3 {
  padding-bottom: 54px;
  font-weight:400;
  font-size:22px;
  line-height: 36px;
  color:#333;
}

.email-form-main {
	text-align: center;
	color: #fff;
}

.email-form h2 {
	padding-top: 96px;
  padding-bottom: 20px;
}
.email-form-main h3 {
  padding-bottom: 54px;
}

.telephone {
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	color: #000;
	text-decoration: none;
}


.social-container {
  width:142px;
  display: flex;
  flex-wrap:wrap;

}
.social-button {
	display: flex;

}

.social-button li {
	padding-left: 27px;
}

.social-button li:first-child {
	padding-left: 0;
}

.catalog-filter {
	background-image: url("/images/bg-catalog.jpeg") top center no-repeat;
	background-size: cover;
}

.footer {
	margin: 0;
}

.email-form-main {
	width: 1200px;
	height: 415px;
	text-decoration: none;
	background: #fff url("/images/bg-email-form.jpeg") no-repeat;
	background-position: center;
  background-size: cover;

}

.email-form-main h2 {
	padding-top: 96px;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
  line-height: 36px;
	text-transform: uppercase;
	color: #fff;
}
.email-form-main h3{
  font-size: 22px;
	font-weight: 400;
  line-height: 26px;
}
.email-form-catalog {
	background-image: none;
	background-color: #fff;
	color: #333;
}

.email-form-catalog h2 {
	color: #000;
}

form {
	display: flex;
	justify-content: center;
	height: 52px;

}

.field {
	width: 432px;
  height:50px;
	padding-left: 20px;
	font-size: 18px;
  border:1px;
  border-radius:4px 0 0 4px;

}

.field-catalog {
background-color:#f2f2f2;
}

.button-email {

	padding: 8px 50px 8px 50px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #82B3D3;
	color: #fff;
  border:1px;
  border-radius: 0 4px 4px 0;
}

.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	background-color: #fff;
}


/* Каталог*/

.filter-form-main {
	width: 1200px;
	height: 412px;
	background: #fff url("/images/bg-catalog.jpeg") no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
}


.inner-title {
padding-top: 35px;
font-size:60px;
line-height: 78px;
font-weight:700px;
}

.mbreadcrumbs {
	font-size: 16px;
	line-height: 21px;

}

.breadcrumbs-item {
	display: inline;
	text-decoration: none;
	color: #fff;
  margin-right:11px;
}
.breadcrumbs-link {
  color: #fff;
}

.button-show {
	width: 48px;
	height: 48px;
	background-color: transparent;
	border: 1px solid #E5E5E5;
}


.sorting-container {
  display:flex;
  padding-top:50px;
  margin-bottom: 54px;
}


.sorting-container h1 {
	text-transform: uppercase;
	color: #000;
}


.sort-tile {
	background-image: url("/images/icons/sort-tile.svg")no-repeat;
}

.sort-list {
	background-image: url("/images/icons/sort-list.svg") no-repeat;
}

.sort-tile-list {
	background-image: url("/images/icons/sort-list-tile.svg")no-repeat;
}

.select-control {
	appearance: none;
	width: 242px;
	height: 49px;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	background: transparent;
}

button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;
	color: #fff;
	text-transform: uppercase;
	appearance: none;
	border: 0;
	border-radius: 4px;
}

.button-sort {
	background-color: #82B3D3;
	padding: 8px 50px;
}

.button-cleaner {
	background: transparent;
}

.button-more {
	padding: 8px 26px;
}

.button-favorite {
	padding: 8px 20px;
}

.button-favorited {
	padding: 8px 18px;
}

.filter-search {
	display: inline-block;
}

.product-card-rating {
	padding: 8px 22px;
	background-color: #F2F2F2;
	border-radius: 4px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
}

.catalog-filter {
	height: 160px;
	text-align: left;
}

.product-list {
	display: flex;
	width: 1060px;
	margin-top: 50px;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;


}

.product-card {
	width: 340px;
	height: 438px;
	border-radius: 4px;
	border: 1px solid #E6E6E6;
	margin-right: 15px;
	margin-bottom: 15px;
}


.product-card:nth-child(3n) {
	margin-right: 0;
}

.product-card img {
	margin: 20px 20px 16px;
}

.product-card h2 {
	margin-left: 20px;
}

.product-card-stars {
	background-image: url("/images/icons/star.svg") top center no-repeat;
}

.pagination-container {
  display:flex;
}
.pagination {
display:flex;
margin:0;
padding:0;
}
.pagination-link {
display:block;
box-sizing: border-box;
width:60px;
height:60px;
font-weight:700px;
font-size:20px;
line-height:36px;
padding: 12px 22px;
color: #fff;
background-color: #82B3D3;
border-radius: 4px;
margin-right: 8px;
}
.pagination-current {
	background-color: #F2F2F2;
  color:#000;
}


/* Активность и комбинации*/
.general {
	background-color: #82b3d3;
}


.first li:nth-child(even),
.second li:nth-child(odd) {
	background-color: rgba(131, 179, 211, .12);
	/* нечетное */
}

.second li:nth-child(odd),
.first li:nth-child(even) {
	background-color: rgba(131, 179, 211, .2);
}
/* четное */


.house {

	background: url("/images/icons/house.svg") top center no-repeat;
}

.food {

	background: url("/images/icons/food.svg") top center no-repeat;
}

.present {

	background: url("/images/icons/present.svg") top center no-repeat;
}

.line-band {
  content: url("/images/icons/band.svg");
}
.general .line-band {
  content: url("/images/icons/band-white.svg");
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*
.heart {
	margin-right: 20px;
} */
